/* ===== GLOBAL RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: 'Poppins', sans-serif;
  background: #020617;
  color: #ffffff;
  scroll-behavior: smooth;
}

/* ===== COMMON ===== */
section {
  padding: 80px 0;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

p {
  color: #cbd5e1;
}

/* ===== VARIABLES ===== */
:root {
  --primary: #00d4ff;
  --dark: #020617;
  --card: #0f172a;
}

/* ===== SCROLLBAR ===== */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}